<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @assignment.description %>
</p>

<p>
  <strong>File:</strong>
  <%= @assignment.file %> |
  <a href="<%= @assignment.file.url %>" target="_blank">download</a>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
